{% extends 'base/intern.twig' %}


{% block page_scripts %}
    <script src="/theme/bulma/assets/js/page_process_manager.js?{{ _app.cache_control }}"></script>
{% endblock %}


{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ help|raw }}
    </p>

    {# Item table #}
    {% if _processes is empty %}
        <div class="card">
            <div class="card-content">
                <div class="has-text-centered has-text-grey">
                    - {{ no_items_available }} -
                </div>
            </div>
        </div>
    {% else %}

        <div class="buttons">
            {{ forms.button({
                'label': processes_by_users,
                'style': 'primary',
                'icon': 'fas fa-angle-double-down',
                'class': 'is-outlined app-scroll-to-processes-by-users',
            }) }}
            {{ forms.button({
                'label': complete_process_list,
                'style': 'primary',
                'icon': 'fas fa-angle-double-down',
                'class': 'is-outlined app-scroll-to-complete-process-list',
            }) }}
        </div>

        {# #############################################################################################################
            Meta
        ############################################################################################################# #}

        <div class="columns is-multiline">
            <div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd">
                {% include 'includes/card_start_stacked.twig' with { '_label': processes, '_icon': 'fas fa-cogs', '_has_equal_height': true } %}
                    <table class="table is-fullwidth is-striped is-hoverable is-narrow">
                        <tr>
                            <th>{{ total }}</th>
                            <td><b>{{ _process_counts.total }}</b></td>
                        </tr>
                        <tr>
                            <th>{{ state_running }}</th>
                            <td>{{ _process_counts.running }}</td>
                        </tr>
                        <tr>
                            <th>{{ state_idle }}</th>
                            <td>{{ _process_counts.idle }}</td>
                        </tr>
                        <tr>
                            <th>{{ state_sleeping }}</th>
                            <td>{{ _process_counts.sleeping }}</td>
                        </tr>
                        <tr>
                            <th>{{ state_stopped }}</th>
                            <td>{{ _process_counts.stopped }}</td>
                        </tr>
                        <tr>
                            <th>{{ state_zombie }}</th>
                            <td>{{ _process_counts.zombie }}</td>
                        </tr>
                        {% if _process_counts.unknown > 0 %}
                            <tr>
                                <th>N/A</th>
                                <td>{{ _process_counts.unknown }}</td>
                            </tr>
                        {% endif %}
                    </table>
                {% include 'includes/card_end_stacked.twig' %}
            </div>

            <div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd">
                {% include 'includes/card_start_stacked.twig' with { '_label': cpu_usage, '_icon': 'fas fa-microchip', '_has_equal_height': true } %}
                    <table class="table is-fullwidth is-striped is-hoverable is-narrow">
                        <tr>
                            <thead>
                                <td>
                                    <span class="has-text-grey">{{ average_usage }}</span>
                                </td>
                            </thead>
                        </tr>
                        <tr>
                            <td>
                                {% include 'includes/chunk_cpu_load.twig' with { '_load': _load } %}
                            </td>
                        </tr>
                    </table>

                    <table class="table is-fullwidth is-striped is-hoverable is-narrow">
                        <tr>
                            <thead>
                                <td colspan="2">
                                    <span class="has-text-grey">{{ current_cpu_usage }}</span>
                                </td>
                            </thead>
                        </tr>
                        <tr>
                            <th>{{ total }}</th>
                            <td><b>{{ _summary.total.cpu_usage|number_format ~ ' %' }}</b></td>
                        </tr>
                        <tr>
                            <th>{{ by_system }}</th>
                            <td>{{ _summary.system.cpu_usage|number_format ~ ' %' }}</td>
                        </tr>
                        <tr>
                            <th>{{ by_clients }}</th>
                            <td>{{ _summary.clients.cpu_usage|number_format ~ ' %' }}</td>
                        </tr>
                    </table>
                {% include 'includes/card_end_stacked.twig' %}
            </div>

            <div class="column is-6-tablet is-6-desktop is-6-widescreen is-4-fullhd">
                {% include 'includes/card_start_stacked.twig' with { '_label': memory_usage, '_icon': 'fas fa-memory', '_has_equal_height': true } %}
                    <table class="table is-fullwidth is-striped is-hoverable is-narrow">
                        <tr>
                            <thead>
                                <td>
                                    <span class="has-text-grey">{{ available_memory }}</span>
                                </td>
                            </thead>
                        </tr>
                        <tr>
                            <td>
                                <b>{{ _available_memory }}</b>
                            </td>
                        </tr>
                    </table>

                    <table class="table is-fullwidth is-striped is-hoverable is-narrow">
                        <tr>
                            <thead>
                                <td colspan="3">
                                    <span class="has-text-grey">{{ current_memory_usage }}</span>
                                </td>
                            </thead>
                        </tr>
                        <tr>
                            <th>{{ total }}</th>
                            <td><b>{{ _summary.total.memory_usage|number_format ~ ' %' }}</b></td>
                            <td><b>{{ _summary.total.memory_human_readable }}</b></td>
                        </tr>
                        <tr>
                            <th>{{ by_system }}</th>
                            <td>{{ _summary.system.memory_usage|number_format ~ ' %' }}</td>
                            <td>{{ _summary.system.memory_human_readable }}</td>
                        </tr>
                        <tr>
                            <th>{{ by_clients }}</th>
                            <td>{{ _summary.clients.memory_usage|number_format ~ ' %' }}</td>
                            <td>{{ _summary.clients.memory_human_readable }}</td>
                        </tr>
                    </table>
                {% include 'includes/card_end_stacked.twig' %}
            </div>
        </div>

        {# #############################################################################################################
            Processes by users
        ############################################################################################################# #}

        <div id="app-anchor-processes-by-users" class="has-margin-top-medium"></div>

        <h2 class="title is-5 has-margin-bottom-medium">
            {{ processes_by_users }}
        </h2>

        <div class="card">
            <div class="card-content">
                {% include 'includes/scroll_table_container_buttons.twig' %}

                <div class="table-container">
                    <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                        <thead>
                            <tr>
                                <th colspan="2" {% include 'includes/table_sorting.twig' with { '_table': 'processes_by_users', '_column': 'username' } %}>
                                    {{ username }}
                                </th>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes_by_users', '_column': 'process_count' } %}>
                                    {{ process_count }}
                                </th>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes_by_users', '_column': 'cpu_usage' } %}>
                                    {{ cpu_usage }}
                                </th>
                                <th colspan="2" {% include 'includes/table_sorting.twig' with { '_table': 'processes_by_users', '_column': 'memory_usage_in_byte' } %}>
                                    {{ memory_usage }}
                                </th>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes_by_users', '_column': 'cpu_time' } %}>
                                    {{ cpu_time }}
                                </th>
                                <th class="is-narrow">
                                    {{ options }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in _processes_by_users %}
                                <tr>
                                    <td style="display: none">
                                        <input type="text" name="username" value="{{ item.username }}">
                                        <input type="text" name="process_count" value="{{ item.process_count }}">
                                    </td>
                                    <td>
                                        {% if item.id_user %}
                                            <a href="?page=admin_accounts_user&id={{ item.id_user }}&action=user_login" target="_blank" rel="nofollow noopener noreferrer">
                                                {{ item.username }}
                                            </a>
                                        {% else %}
                                            {{ item.username }}
                                        {% endif %}
                                    </td>
                                    <td class="is-narrow">
                                        {% if (item.id_user) %}
                                            {% include 'includes/icon.twig' with {
                                                '_type': 'user_edit',
                                                '_url': '?page=admin_accounts_user&action=edit&id=' ~ item.id_user,
                                                '_is_new_tab': true
                                            } %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.process_count }}
                                    </td>
                                    <td>
                                        {{ item.cpu_usage }}
                                    </td>
                                    <td>
                                        {{ item.memory_usage }}
                                    </td>
                                    <td>
                                        {{ item.memory_human_readable }}
                                    </td>
                                    <td>
                                        {{ item.cpu_time }}
                                    </td>
                                    <td class="has-no-wrap">
                                        {% if item.username != 'root' %}
                                            <span class="app-kill-processes-by-username">
                                                {% include 'includes/icon.twig' with {
                                                    '_type': 'kill',
                                                    '_label': kill_processes,
                                                    '_url': 'javascript:void(0)'
                                                } %}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="42" class="has-text-grey-light">
                                    {{ _processes_by_users|length }} {{ items_total }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        {# #############################################################################################################
            Processes list
        ############################################################################################################# #}

        <div id="app-anchor-complete-process-list" class="has-margin-top-large"></div>

        <h2 class="title is-5 has-margin-bottom-medium">
            {{ complete_process_list }}
        </h2>

        <div class="card">
            <div class="card-content">
                {% include 'includes/scroll_table_container_buttons.twig' %}

                <div class="table-container">
                    <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                        <thead>
                            <tr>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'process_id' } %}>
                                    {{ process_id }}
                                </th>
                                <th colspan="2" {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'username' } %}>
                                    {{ username }}
                                </th>
                                <th colspan="2" {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'state' } %}>
                                    {{ state }}
                                </th>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'cpu_usage' } %}>
                                    {{ cpu_usage }}
                                </th>
                                <th colspan="2" {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'memory_usage_in_byte' } %}>
                                    {{ memory_usage }}
                                </th>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'cpu_time' } %}>
                                    {{ cpu_time }}
                                </th>
                                <th {% include 'includes/table_sorting.twig' with { '_table': 'processes', '_column': 'command' } %}>
                                    {{ command }}
                                </th>
                                <th class="is-narrow">
                                    {{ options }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in _processes %}
                                <tr>
                                    <td style="display: none">
                                        <input type="text" name="process_id" value="{{ item.process_id }}">
                                        <input type="text" name="username" value="{{ item.username }}">
                                        <input type="text" name="command" value="{{ item.command }}">
                                    </td>
                                    <td>
                                        {{ item.process_id }}
                                    </td>
                                    <td>
                                        {% if (item.id_user) %}
                                            <a href="?page=admin_accounts_user&id={{ item.id_user }}&action=user_login" target="_blank" rel="nofollow noopener noreferrer">
                                                {{ item.username }}
                                            </a>
                                        {% else %}
                                            {{ item.username }}
                                        {% endif %}
                                    </td>
                                    <td class="is-narrow">
                                        {% if (item.id_user) %}
                                            {% include 'includes/icon.twig' with {
                                                '_type': 'user_edit',
                                                '_url': '?page=admin_accounts_user&action=edit&id=' ~ item.id_user,
                                                '_is_new_tab': true
                                            } %}
                                        {% endif %}
                                    </td>
                                    <td class="is-narrow">
                                        {{ item.state }}
                                    </td>
                                    <td>
                                        {{ item.state_meaning }}
                                    </td>
                                    <td>
                                        {{ item.cpu_usage }}
                                    </td>
                                    <td>
                                        {{ item.memory_usage }}
                                    </td>
                                    <td>
                                        {{ item.memory_human_readable }}
                                    </td>
                                    <td>
                                        {{ item.cpu_time }}
                                    </td>
                                    <td>
                                        {{ item.command }}
                                    </td>
                                    <td class="has-no-wrap">
                                        <span class="app-kill-process">
                                            {% include 'includes/icon.twig' with {
                                                '_type': 'kill',
                                                '_label': kill_process,
                                                '_url': 'javascript:void(0)'
                                            } %}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="42" class="has-text-grey-light">
                                    {{ _processes|length }} {{ items_total }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {# Modal | Kill process by username ============================================================================= #}
    <form action="?page={{ _app.page }}&action=kill" method="post">
        <input type="hidden" name="username" value="">

        <div id="app-modal-kill-processes-by-username" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ kill_processes }}</p>
                    <button class="delete app-modal-close" type="button"></button>
                </header>
                <div class="modal-card-body">
                    <p class="has-text-centered">
                        {{ confirm_process_killing_by_username }}
                    </p>
                    <table class="table is-centered has-margin-top-medium">
                        <tr>
                            <th>{{ username }}</th>
                            <td class="app-kill-username"></td>
                        </tr>
                        <tr>
                            <th>{{ process_count }}</th>
                            <td class="app-kill-process-count"></td>
                        </tr>
                    </table>
                </div>
                <footer class="modal-card-foot">
                    {{ forms.button({'label': okay, 'style': 'primary' }) }}
                    {{ forms.button({'label': cancel, 'class': 'app-modal-close', 'type': 'button' }) }}
                </footer>
            </div>
        </div>
    </form>

    {# Modal | Kill process ========================================================================================= #}
    <form action="?page={{ _app.page }}&action=kill" method="post">
        <input type="hidden" name="process_id" value="">

        <div id="app-modal-kill-process-id" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ kill_process }}</p>
                    <button class="delete app-modal-close" type="button"></button>
                </header>
                <div class="modal-card-body">
                    <p class="has-text-centered">
                        {{ confirm_process_killing }}
                    </p>
                    <table class="table is-centered has-margin-top-medium">
                        <tr>
                            <th>{{ process_id }}</th>
                            <td class="app-kill-process-id"></td>
                        </tr>
                        <tr>
                            <th>{{ username }}</th>
                            <td class="app-kill-username"></td>
                        </tr>
                        <tr>
                            <th>{{ command }}</th>
                            <td class="app-kill-command"></td>
                        </tr>
                    </table>
                </div>
                <footer class="modal-card-foot">
                    {{ forms.button({'label': okay, 'style': 'primary' }) }}
                    {{ forms.button({'label': cancel, 'class': 'app-modal-close', 'type': 'button' }) }}
                </footer>
            </div>
        </div>
    </form>
{% endblock %}