{% extends 'base/intern.twig' %}



{% block content %}

    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ help|raw }}
    </p>

    {# Button line #}
    {% include 'includes/index_page_button_line.twig' with ({
        '_add_btn_label': add_email_template,
        '_add_btn_url': '?page=' ~ _app.page ~ '&action=add',
        '_form_id': 'form-email-templates-index'
    }) %}

    {# Item table #}
    <div class="card">
        <div class="card-content">
            {% if _email_templates is empty %}
                <div class="has-text-centered has-text-grey">
                    - {{ no_items_available }} -
                </div>
            {% else %}
                {% include 'includes/scroll_table_container_buttons.twig' %}
                <form id="form-email-templates-index" action="?page={{ _app.page }}&action=delete" method="post">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                            <thead>
                                <tr>
                                    <th>
                                        {{ language }}
                                    </th>
                                    <th>
                                        {{ event }}
                                    </th>
                                    <th class="is-narrow">
                                        {{ options }}
                                    </th>
                                    <th class="is-narrow">
                                        <input class="app-check-all" type="checkbox">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in _email_templates %}
                                    <tr>
                                        <td class="has-no-wrap">
                                            {{ item.language }}
                                        </td>
                                        <td>
                                            {{ item.event }}
                                        </td>
                                        <td class="has-no-wrap">
                                            {% include 'includes/icon.twig' with {
                                                '_type': 'edit',
                                                '_url': '?page=' ~ _app.page ~ '&action=edit&id=' ~ item.id
                                            } %}

                                            {% include 'includes/icon.twig' with {
                                                '_type': 'delete',
                                                '_url': '?page=' ~ _app.page ~ '&action=delete&id=' ~ item.id
                                            } %}
                                        </td>
                                        <td>
                                            {{ item.checkbox|raw }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="42" class="has-text-grey-light">
                                        {{ _email_templates|length }} {{ items_total }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

            {% endif %}
        </div>
    </div>

    {# Back #}
    {% include 'includes/cta.twig' with { '_back': { 'target': 'admin_configuration' } } %}

{% endblock %}