{% extends 'base/intern.twig' %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">
            <input type="hidden" name="id" value="{{ _id }}">

            {% if _action == 'add' %}
                {{ forms.label_wrapped({
                    'label': api_key,
                    'help': api_key_help,
                }) }}
            {% else %}
                {{ forms.label_wrapped({
                    'label': api_key_prefix,
                    'value': _api_key_prefix,
                }) }}
            {% endif %}

            {{ forms.input_wrapped({
                'label': name,
                'help': name_help,
                'name': 'name',
                'type': 'text',
                'value': _name,
            }) }}

            {{ forms.textarea_wrapped({
                'label': ip_addresses,
                'help': ip_addresses_help,
                'name': 'ips',
                'value': _ips,
                'rows': 3,
                'is_auto_resize': true
            }) }}

            {% include 'includes/cta.twig' with { '_back': { 'target': _app.page }, '_confirm': true } %}
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}