{% extends 'base/intern.twig' %}



{% block page_scripts %}
    <script src="/theme/bulma/assets/js/page_profile.js?{{ _app.cache_control }}"></script>
{% endblock %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/tabs.twig' with {
        'items': [
            {
                'icon': 'fas fa-cog',
                'label': account_settings,
                'url': '#tab-account',
            },
            {
                'icon': 'fas fa-address-card',
                'label': contact_data,
                'url': '#tab-contact',
                'skip_if': not _is_client
            },
            {
                'icon': 'fas fa-shield-alt',
                'label': security,
                'url': '#tab-security',
            },
            {
                'icon': 'fas fa-key',
                'label': ssh_keys,
                'url': '#tab-ssh-keys',
                'skip_if': not _show_ssh_keys
            }
        ]
    } %}

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            <div class="tabs-content">

                <div id="tab-account" class="tabs-panel is-active">
                    {{ forms.select_wrapped({
                        'name': 'interface_language',
                        'label': language,
                        'options': _language_items,
                        'selected': _language_items_selected,
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'email',
                        'type': 'email',
                        'label': email,
                        'is_required': true,
                        'value': _email
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'current_password',
                        'type': 'password',
                        'help': leave_empty,
                        'label': current_password,
                        'autocomplete': 'current-password',
                        'addons': {
                            'right': {
                                'type': 'action',
                                'label': show,
                                'action': 'app-show-password'
                            }
                        }
                    }) }}

                    {% include 'includes/form_password.twig' with { '_leave_empty': true } %}
                </div>

                <div id="tab-contact" class="tabs-panel">
                    {{ forms.input_wrapped({
                        'name': 'first_name',
                        'type': 'text',
                        'label': first_name,
                        'is_disabled': not _can_change_contact_data,
                        'value': _first_name
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'last_name',
                        'type': 'text',
                        'label': last_name,
                        'is_disabled': not _can_change_contact_data,
                        'value': _last_name
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'company',
                        'type': 'text',
                        'label': company,
                        'is_disabled': not _can_change_contact_data,
                        'value': _company
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'telephone',
                        'type': 'tel',
                        'label': telephone,
                        'is_disabled': not _can_change_contact_data,
                        'value': _telephone
                    }) }}

                    {{ forms.textarea_wrapped({
                        'name': 'address',
                        'label': address,
                        'is_disabled': not _can_change_contact_data,
                        'value': _address,
                        'is_auto_resize': true
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'zip',
                        'type': 'text',
                        'label': zip,
                        'is_disabled': not _can_change_contact_data,
                        'value': _zip
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'city',
                        'type': 'text',
                        'label': city,
                        'is_disabled': not _can_change_contact_data,
                        'value': _city
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'state',
                        'type': 'text',
                        'label': state,
                        'is_disabled': not _can_change_contact_data,
                        'value': _state
                    }) }}

                    {{ forms.select_wrapped({
                        'label': country,
                        'name': 'country',
                        'options': _countries,
                        'selected': _countries_selected,
                        'is_disabled': not _can_change_contact_data,
                    }) }}

                    {{ forms.input_wrapped({
                        'name': 'client_id',
                        'type': 'text',
                        'label': client_id,
                        'is_disabled': true,
                        'value': _client_id
                    }) }}
                </div>

                <div id="tab-security" class="tabs-panel">

                    <input type="hidden" name="two_factor_is_loaded" value="{{ _two_factor_is_loaded }}">
                    <input type="hidden" name="two_factor_secret" value="{{ _two_factor_secret }}">

                    {{ forms.checkbox_wrapped({
                        'label': two_factor_auth,
                        'help': two_factor_auth_help,
                        'options': {
                            'label': enabled,
                            'name': 'two_factor_is_enabled',
                            'value': '1',
                            'is_checked': _two_factor_is_enabled
                        }
                    }) }}

                    <div id="app-two-factor-method" style="display: none;">
                        {{ forms.label_wrapped({
                            'label': auth_method,
                            'help': auth_method_help ~ '<br>' ~
                                    '<b>' ~ attention ~ '!</b> ' ~ auth_method_backup,
                        }) }}

                        <div id="app-two-factor-new-app" class="has-text-centered" style="display: none;">
                            {{ forms.button({
                                'label': setup_new_app,
                                'icon': 'fas fa-mobile-alt',
                                'type': 'button',
                                'class': 'has-margin-bottom-medium'
                            }) }}
                        </div>
                    </div>

                    <div id="app-two-factor-app-setup" style="display: none;">
                        {{ forms.label_wrapped({
                            'label': setup_authentication_app,
                            'help': setup_authentication_app_help
                        }) }}

                        <div class="columns has-text-centered has-margin-bottom-xsmall">
                            <div class="column">
                                <p>{{ scan_qr_code }}</p>
                                <img class="has-margin-top-medium" src="{{ _two_factor_qr_code }}">
                            </div>
                            <div class="column">
                                <p>{{ enter_key }}</p>
                                <p class="has-margin-top-medium has-text-weight-bold">
                                    {{ _two_factor_secret|chunk_split(4, ' ') }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="app-two-factor-auth-code" style="display: none;">
                        {{ forms.input_wrapped({
                            'label': auth_code,
                            'help': auth_code_help,
                            'name': 'two_factor_auth_code',
                            'type': 'text',
                            'is_required_fake': true
                        }) }}
                    </div>
                </div>

                {% if _show_ssh_keys %}
                    <div id="tab-ssh-keys" class="tabs-panel">

                        <p class="has-margin-bottom-medium">
                            {{ ssh_keys_help|raw }}
                        </p>

                        <div class="has-text-centered has-margin-bottom-medium">
                            {{ forms.button({
                                'label': add_ssh_key,
                                'url': '?page=' ~ _app.page ~ '&action=add_ssh_key'
                            }) }}
                        </div>

                        {% if not _ssh_keys is empty %}
                            {% include 'includes/scroll_table_container_buttons.twig' %}

                            <div class="table-container">
                                <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                                    <thead>
                                        <tr>
                                            <th>{{ name }}</th>
                                            <th>{{ fingerprint }}</th>
                                            <th>{{ created_at }}</th>
                                            <th class="is-narrow">{{ options }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in _ssh_keys %}
                                        <tr>
                                            <td style="display: none">
                                                <input type="text" name="id" value="{{ item.id }}">
                                                <input type="text" name="name" value="{{ item.name }}">
                                            </td>
                                            <td>
                                                <b>{{ item.name ? item.name : '—' }}</b>
                                            </td>
                                            <td>
                                                <ul class="horizontal-separated-list">
                                                    {% for key, value in item.fingerprints %}
                                                        <li>
                                                            <a href="javascript:void(0)" class="app-tooltip-click" data-tippy-maxwidth="475" data-tippy-content='<span class="is-family-monospace">{{ value }}</span>'>
                                                                {{ key }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="has-no-wrap">
                                                {{ item.created_at }}
                                            </td>
                                            <td class="is-narrow">
                                                <span class="app-delete-ssh-key">
                                                    {% include 'includes/icon.twig' with {
                                                        '_type': 'delete',
                                                        '_url': 'javascript:void(0)'
                                                    } %}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="42" class="has-text-grey-light">
                                                {{ _ssh_keys|length }} {{ items_total }}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            </div>

            {% include 'includes/cta.twig' with { '_confirm': true } %}
        </form>

    {% include 'includes/card_end.twig' %}


    {% if _show_ssh_keys %}
        <form action="?page={{ _app.page }}&action=delete_ssh_key" method="post">
            <input type="hidden" name="id" value="">

            <div id="app-modal-delete-ssh-key" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">{{ delete_ssh_key }}</p>
                        <button class="delete app-modal-close" type="button"></button>
                    </header>
                    <div class="modal-card-body">
                        <p class="has-text-centered">
                            {{ confirm_delete_ssh_key }}
                        </p>
                        <table class="table is-centered has-margin-top-medium">
                            <tr>
                                <th>{{ name }}</th>
                                <td class="app-ssh-key-name"></td>
                            </tr>
                        </table>
                    </div>
                    <footer class="modal-card-foot">
                        {{ forms.button({'label': okay, 'style': 'primary' }) }}
                        {{ forms.button({'label': cancel, 'class': 'app-modal-close', 'type': 'button' }) }}
                    </footer>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}

