{% extends 'base/intern.twig' %}



{% block page_scripts %}
    <script>
        select2_prepareSelect('#input-domain', undefined, 0);
    </script>
{% endblock %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}&action=install" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">
            <input type="hidden" name="app_id" value="{{ _id }}">
            <input type="hidden" name="app_version" value="{{ _version }}">

            {{ forms.label_wrapped({
                'label': selected_app,
                'value': _selected_app
            }) }}

            {# We have to use "autocomplete: 'off', otherwise Chrome things this is a username... #}
            {{ forms.input_wrapped({
                'label': install_location,
                'help': install_location_help,
                'name': 'install_path',
                'placeholder': directory,
                'type': 'text',
                'is_required_fake': true,
                'value': _install_path,
                'autocomplete': 'off',
                'addons': {
                    'left': [
                        {
                            'type': 'select',
                            'select': {
                                'name': 'domain',
                                'options': _domains,
                                'selected': _domains_selected
                            }
                        },
                        {
                            'label': '/'
                        }
                    ]
                }
            }) }}

            {{ forms.radio_wrapped({
                'label': existing_files,
                'help': existing_files_help,
                'options': [
                    {
                        'label': clear_content,
                        'name': 'existing_files_behavior',
                        'value': 'clear',
                        'is_checked': _existing_files_behavior == 'clear'
                    },
                    {
                        'label': overwrite,
                        'name': 'existing_files_behavior',
                        'value': 'overwrite',
                        'is_checked': _existing_files_behavior == 'overwrite'
                    }
                ]
            }) }}

            {{ forms.select_wrapped({
                'label': protocol,
                'help': protocol_help,
                'name': 'protocol',
                'options': _protocols,
                'selected': _protocols_selected,
            }) }}

            {% if _setup_admin_account %}
                <div class="has-margin-large">
                    <hr class="has-background-grey-light">
                </div>

                {{ forms.label_wrapped({
                    'label': admin_account,
                    'help': admin_account_help
                }) }}

                {{ forms.input_wrapped({
                    'label': username,
                    'name': 'admin_username',
                    'type': 'text',
                    'is_required': true,
                    'min_length': 3,
                    'max_length': 20,
                    'value': _admin_username,
                }) }}

                {{ forms.input_wrapped({
                    'label': email,
                    'name': 'admin_email',
                    'type': 'email',
                    'is_required': true,
                    'value': _admin_email,
                }) }}

                {% include 'includes/form_password.twig' %}
            {% endif %}

            {% if _setup_database %}
                <div class="has-margin-large">
                    <hr class="has-background-grey-light">
                </div>

                {{ forms.label_wrapped({
                    'label': database,
                    'help': database_help
                }) }}

                {{ forms.input_wrapped({
                    'label': database_name,
                    'name': 'db_name',
                    'type': 'text',
                    'value': _naming_scheme == 'auto' ? autofill : _db_name,
                    'is_required': _naming_scheme == 'auto' ? false : true,
                    'is_disabled': _naming_scheme == 'auto' ? true : false,
                    'addons': _naming_scheme == 'limited' ? { 'left' : { 'label': _user.username ~ '_' } } : {}
                }) }}

                {{ forms.input_wrapped({
                    'label': database_username,
                    'name': 'db_username',
                    'type': 'text',
                    'value': _naming_scheme == 'auto' ? autofill : _db_username,
                    'is_required': _naming_scheme == 'auto' ? false : true,
                    'is_disabled': _naming_scheme == 'auto' ? true : false,
                    'addons': _naming_scheme == 'limited' ? { 'left' : { 'label': _user.username ~ '_' } } : {}
                }) }}

                {{ forms.input_wrapped({
                    'label': description,
                    'name': 'db_description',
                    'type': 'text',
                    'value': _db_description,
                }) }}
            {% endif %}

            {% include 'includes/cta.twig' with { '_back': { 'target': _app.page }, '_confirm': { 'label': install } } %}
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}