{% extends 'base/intern.twig' %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">
            <input type="hidden" name="id" value="{{ _id }}">

            {% include 'includes/form_browse_directory.twig' with {
                '_help': help_path,
                '_append_directory': '/www',
                '_value': _path,
                '_purpose': 'www'
            } %}

            {{ forms.input_wrapped({
                'name': 'realm_title',
                'type': 'text',
                'label': realm_title,
                'value': _realm_title,
            }) }}

            {{ forms.input_wrapped({
                'name': 'username',
                'type': 'text',
                'label': username,
                'value': _username,
                'is_required': true,
            }) }}

            {% include 'includes/form_password.twig' with { '_leave_empty': _action == 'edit' } %}

            {% include 'includes/cta.twig' with { '_back': { 'target': _app.page }, '_confirm': true } %}
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}