<div id="block_applications_Div" style="display: none;" class="card {{ _has_margin_top ? 'has-margin-top-large' }} {{ _has_equal_height ? 'has-equal-height' }} {{ _additional_classes ? _additional_classes }}">
    <div class="card-header">
        {% if _icon %}
            <div class="card-header-icon">
                <span class="icon is-medium">
                    <i class="{{ _icon }} fa-lg"></i>
                </span>
            </div>
        {%  endif %}
        <div class="card-header-title equal-height">
            {{ _label }}
        </div>
    </div>
    <div class="card-content">