{% extends 'base/intern.twig' %}


{% block page_scripts %}
    <script src="/theme/bulma/assets/js/page_backup_scheduled.js?{{ _app.cache_control }}"></script>
{% endblock %}


{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/card_start.twig' %}

        <form action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">
            <input type="hidden" name="id" value="{{ _id }}">

            {{ forms.checkbox_wrapped({
                'label': backup_task_enabled,
                'options': {
                    'label': yes,
                    'name': 'is_enabled',
                    'value': '1',
                    'is_checked': _is_enabled
                }
            }) }}

        {###############################################################################################################
            Interval
        ###############################################################################################################}

            {{ forms.label_wrapped({
                'label': backup_interval,
                'help': server_timezone,
                'is_required': true,
            }) }}

            {{ forms.select_wrapped({
                'help': select_interval,
                'name': 'interval',
                'options': _intervals,
                'selected': _interval,
            }) }}

            <div id="app-day-of-week" style="display: none">
                {{ forms.select_wrapped({
                    'help': day_of_week,
                    'name': 'day_of_week',
                    'options': _days_of_week,
                    'selected': _day_of_week,
                }) }}
            </div>

            <div id="app-days-of-month" style="display: none">
                {{ forms.select_wrapped({
                    'help': day_of_month ~ '<br>(' ~ days_not_work_every_month ~ ')',
                    'name': 'day_of_month',
                    'options': _days_of_month,
                    'selected': _day_of_month,
                }) }}
            </div>

            {{ forms.input_wrapped({
                'help': time_format,
                'name': 'time',
                'type': 'time',
                'value': _time,
                'is_required': true,
            }) }}

        {###############################################################################################################
            Repo
        ###############################################################################################################}

            {{ forms.select_wrapped({
                'label': repository,
                'name': 'id_repo',
                'options': {'': '- ' ~ please_select ~ ' -'}|merge(_repositories),
                'selected': _id_repo,
                'is_required': true,
            }) }}

        {###############################################################################################################
            Scope
        ###############################################################################################################}
<!--
            {{ forms.checkbox_wrapped({
                'label': backup_scope,
                'options': [
                    {
                        'label': '__Files & Folders / Home-directory',
                        'name': 'name',
                        'value': '1',
                        'is_checked': true,
                        'is_disabled': true
                    },
                    {
                        'label': databases,
                        'name': 'name',
                        'value': '1',
                        'is_checked': true,
                        'is_disabled': true
                    },
                    {
                        'label': email_accounts,
                        'name': 'name',
                        'value': '1',
                        'is_checked': true,
                    }
                ]
            }) }}

            {{ forms.textarea_wrapped({
                'label': '__Exclude Paths',
                'name': 'xxx',
                'value': '',
                'rows': 5,
                'is_auto_resize': true,
            }) }}
-->
        {###############################################################################################################
            Misc
        ###############################################################################################################}

            {{ forms.textarea_wrapped({
                'label': description,
                'name': 'description',
                'value': _description,
                'rows': 5,
                'is_auto_resize': true,
            }) }}


            {% include 'includes/cta.twig' with { '_back': { 'target': _app.page }, '_confirm': true } %}

        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}