{% extends 'base/intern.twig' %}



{% block content %}

    {% include 'includes/card_start.twig' with { '_is_wide': true } %}

        <p class="has-text-centered">{{ current_path }}</p>
        <p class="app-current-path has-text-centered has-text-weight-bold has-margin-top-xsmall has-margin-bottom-medium">{{ _current_path }}</p>

        <div class="has-margin-y-medium has-text-centered">
            {% if _type == 'image' %}
                <img class="app-image has-frame" src="{{ _data_uri }}" style="max-height: 60em;">
            {% elseif _type == 'pdf' %}
                <embed src="{{ _data_uri }}" type="application/pdf" width="100%" height="800px" />
            {% elseif _type == 'audio' %}
                <div class="has-padding-large has-background-primary is-inline-block">
                    <audio controls>
                        <source src="{{ _data_uri }}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            {% endif %}
        </div>

        {% include 'includes/cta.twig' with { '_back': { 'target': _app.page ~ '&change_dir=' ~ _working_dir|url_encode() } } %}

    {% include 'includes/card_end.twig' %}

{% endblock %}