<img class="svg-vendor-logo has-margin-right-small" src="/theme/bulma/assets/img/vendor/{{ _cpu.vendor }}.svg?{{ _app.cache_control }}" alt="">
<ul class="horizontal-separated-list">
    <li>{{ _cpu.name }}</li>
    <li>{{ cores }}: {{ _cpu.cores }}</li>
</ul>