<span class="has-text-weight-bold {{ _load.level == 'low' ? 'has-text-success' : (_load.level == 'medium' ? 'has-text-warning' : 'has-text-danger') }}">
    {{ _load.percent|number_format ~ ' %' }}
</span>

<span class="has-margin-left-small has-no-wrap">
(
    <ul class="horizontal-separated-list">
    <li>{{ _load.minute_1|number_format }}</li>
    <li>{{ _load.minute_5|number_format }}</li>
    <li>{{ _load.minute_15|number_format }}</li>
    </ul>
)
</span>
