{% extends 'base/intern.twig' %}



{% block page_scripts %}
    <script src="/theme/bulma/assets/js/page_accounts_user.js?{{ _app.cache_control }}"></script>
{% endblock %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/tabs.twig' with {
        'items': [
            {
                'icon': 'fas fa-user-tie',
                'label': administrator_accounts,
                'url': '?page=admin_accounts_admin',
            },
            {
                'icon': 'fas fa-user',
                'label': user_accounts,
                'url': '?page=admin_accounts_user',
                'is_active': true
            }
        ]
    } %}

    {# Button line #}
    {% include 'includes/index_page_button_line.twig' with ({
        '_add_btn_label': add_user,
        '_add_btn_url': '?page=admin_accounts_user&action=add',
        '_form_id': 'form-user-account-index'
    }) %}

    {# Viewing options #}
    <div class="card has-margin-bottom-medium">
        <div class="card-content">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <strong>{{ viewing_options }}</strong>
                    </div>
                </div>
                <div class="level-right">
                    <form action="?page=admin_accounts_user" method="post">
                        <input type="hidden" name="update_view_search" value="1">

                        <div class="level-item">
                            {{ forms.input({
                                'name': 'search',
                                'type': 'search',
                                'value': _search,
                                'addons': {
                                    'left': {
                                        'type': 'select',
                                        'select': {
                                            'name': 'search_option',
                                            'options': _search_options,
                                            'selected': _search_options_selected,
                                        }
                                    },
                                    'right' : {
                                        'button': {
                                            'label': search,
                                            'icon': 'fas fa-search'
                                        }
                                    }
                                }
                            }) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# Item table #}
    <div class="card">
        <div class="card-content">
            {% if _user_accounts is empty %}
                <div class="has-text-centered has-text-grey">
                    - {{ no_items_available }} -
                </div>
            {% else %}
                {% include 'includes/scroll_table_container_buttons.twig' %}
                <form id="form-user-account-index" action="?page=admin_accounts_user&action=delete" method="post">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                            <thead>
                                <tr>
                                    <th class="is-narrow" {% include 'includes/table_sorting.twig' with { '_column': 'status' } %}>
                                        S
                                    </th>
                                    <th colspan="5" {% include 'includes/table_sorting.twig' with { '_column': 'username' } %}>
                                        {{ username }}
                                    </th>
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'contact_name' } %}>
                                        {{ contact_name }}
                                    </th>
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'disk_space_sort' } %}>
                                        {{ disk_space }}
                                    </th>
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'traffic_sort' } %}>
                                        {{ traffic }}
                                    </th>
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'last_login_sort' } %}>
                                        {{ last_login }}
                                    </th>
                                    <th class="is-narrow">
                                        {{ options }}
                                    </th>
                                    <th class="is-narrow">
                                        <input class="app-check-all" type="checkbox">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in _user_accounts %}
                                    <tr>
                                        <td>
                                            {% include 'includes/icon.twig' with { '_type': item.status } %}
                                        </td>
                                        <td class="is-narrow">
                                            <a href="?page=admin_accounts_user&id={{ item.id }}&action=user_login" target="_blank" rel="nofollow noopener noreferrer">
                                                {{ item.username }}
                                            </a>
                                        </td>
                                        <td class="is-narrow">
                                            {% if item.delete_on %}
                                                <div class="app-tooltip-mandatory" data-tippy-content="<b>{{ will_be_deleted_on }}</b> {{ item.delete_on }}">
                                                    <span class="icon has-text-grey">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="is-narrow">
                                            {% if item.is_suspended %}
                                                <div class="app-tooltip-mandatory" data-tippy-content="{{ suspended }}">
                                                    <span class="icon has-text-danger">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                </div>
                                            {% elseif item.suspend_on %}
                                                <div class="app-tooltip-mandatory" data-tippy-content="<b>{{ will_be_suspended_on }}</b> {{ item.suspend_on }}">
                                                    <span class="icon has-text-grey">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="is-narrow">
                                            {% if item.notes %}
                                                <div class="app-tooltip-mandatory" data-tippy-content="{{ item.notes }}">
                                                    <span class="icon has-text-grey">
                                                        <i class="fas fa-comment-alt"></i>
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="is-narrow">
                                            <div class="app-tooltip-user-info" data-user-id="{{ item.id }}">
                                                <span class="icon has-text-grey">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            {{ macros.contact_name(item.first_name, item.last_name, item.company) }}
                                        </td>
                                        <td>
                                            {{ macros.usage_indicator({
                                                'current': item.disk_space_current,
                                                'max': item.disk_space_max,
                                                'percent': item.disk_space_percent,
                                            }) }}
                                        </td>
                                        <td>
                                            {{ macros.usage_indicator({
                                                'current': item.traffic_current,
                                                'max': item.traffic_max,
                                                'percent': item.traffic_percent,
                                            }) }}
                                        </td>
                                        <td class="is-narrow">
                                            {{ item.last_login|default('—') }}
                                        </td>
                                        <td class="is-narrow">
                                            {% if item.is_deleted %}
                                                {{ no_action_available }}
                                            {% else %}
                                                {% include 'includes/icon.twig' with {
                                                    '_type': 'edit',
                                                    '_url': '?page=admin_accounts_user&action=edit&id=' ~ item.id
                                                } %}

                                                {% include 'includes/icon.twig' with {
                                                    '_type': 'login',
                                                    '_url': '?page=admin_accounts_user&action=user_login&id=' ~ item.id
                                                } %}

                                                {% include 'includes/icon.twig' with {
                                                    '_type': 'delete',
                                                    '_url': '?page=admin_accounts_user&action=delete&id=' ~ item.id
                                                } %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not item.is_deleted %}
                                                {{ item.checkbox|raw }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="has-text-grey-light">
                                        {{ _user_accounts|length }} {{ items_total }}
                                    </td>
                                    <td class="has-text-grey-light has-text-right">
                                        {{ _total.disk_space.consumed }} / {{ _total.disk_space.allocated }}
                                        {{ _total.disk_space.is_unlimited ? '+ ' ~ unlimited }}
                                    </td>
                                    <td class="has-text-grey-light has-text-right">
                                        {{ _total.traffic.consumed }} / {{ _total.traffic.allocated }}
                                        {{ _total.traffic.is_unlimited ? '+ ' ~ unlimited }}
                                    </td>
                                    <td colspan="42">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
    {% endif %}
            </div>
        </div>

{% endblock %}