{% extends 'base/intern.twig' %}



{% block content %}

    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ help|raw }}
    </p>

    {# Button line #}
    {% if _app.area == 'user' %}
        {% set _usage = _usage|merge({'label': scheduled_tasks}) %}
    {% else %}
        {% set _usage = false %}
    {% endif %}

    {% include 'includes/index_page_button_line.twig' with ({
        '_usage': _usage,
        '_add_btn_label': add_task,
        '_add_btn_url': '?page=' ~ _app.page ~ '&action=add',
        '_form_id': 'form-scheduled-tasks-index'
    }) %}

    {# Item table #}
    <div class="card">
        <div class="card-content">
            {% if _scheduled_tasks_items is empty %}
                <div class="has-text-centered has-text-grey">
                    - {{ no_items_available }} -
                </div>
            {% else %}
                {% include 'includes/scroll_table_container_buttons.twig' %}
                <form id="form-scheduled-tasks-index" action="?page={{ _app.page }}&action=delete" method="post">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                            <thead>
                                <tr>
                                    <th class="is-narrow" {% include 'includes/table_sorting.twig' with { '_column': 'status' } %}>
                                        S
                                    </th>
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'sorting_command' } %}>
                                        {{ command }}
                                    </th>
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'sorting_schedule' } %}>
                                        {{ schedule }}
                                    </th>
                                    {% if _app.area == 'admin' %}
                                        <th {% include 'includes/table_sorting.twig' with { '_column': 'sorting_owner' } %}>
                                            {{ owner }}
                                        </th>
                                    {% endif %}
                                    <th {% include 'includes/table_sorting.twig' with { '_column': 'sorting_notification' } %}>
                                        {{ notification }}
                                    </th>
                                    <th class="is-narrow">
                                        {{ options }}
                                    </th>
                                    <th class="is-narrow">
                                        <input class="app-check-all" type="checkbox">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in _scheduled_tasks_items %}
                                    <tr>
                                        <td class="is-narrow">
                                            {% if item.status == 'status_pause' %}
                                                <span class="icon is-medium has-text-grey app-tooltip" data-tippy-content="{{ stopped }}">
                                                    <i class="fas fa-pause"></i>
                                                </span>
                                            {% else %}
                                                {% include 'includes/icon.twig' with {
                                                    '_type': item.status,
                                                } %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.type == 'exec' %}
                                                <span class="icon is-medium app-tooltip" data-tippy-content="{{ execute_command }}">
                                                    <i class="fas fa-desktop"></i>
                                                </span>
                                            {% elseif item.type == 'http' %}
                                                <span class="icon is-medium app-tooltip" data-tippy-content="{{ call_url }}">
                                                    <i class="fas fa-globe-americas"></i>
                                                </span>
                                            {% elseif item.type == 'php' %}
                                                <span class="icon is-medium app-tooltip" data-tippy-content="{{ execute_php_script }}">
                                                    <img style="width: 16px" src="/theme/bulma/assets/img/vendor/php.svg?{{ _app.cache_control }}" alt="">
                                                </span>
                                            {% endif %}

                                            {{ item.command }}

                                            {% if item.description %}
                                                <br>
                                                <span class="has-text-grey">
                                                    {{ item.description }}
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td class="has-no-wrap">
                                            {{ item.schedule }}
                                        </td>
                                        {% if _app.area == 'admin' %}
                                            <td>
                                                {% if item.is_root_context %}
                                                    {{ item.owner }}
                                                {% elseif item.owner %}
                                                    <a href="?page=admin_accounts_user&id={{ item.id_owner }}&action=user_login" target="_blank" rel="nofollow noopener noreferrer">
                                                        {{ item.owner }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td>
                                            {% if item.notification == 'never' %}
                                                {{ never }}
                                            {% elseif item.notification == 'error' %}
                                                {{ on_errors }}
                                            {% elseif item.notification == 'always' %}
                                                {{ always }}
                                            {% endif %}

                                            {% if item.email %}
                                                <br>
                                                <span class="has-text-grey">
                                                    {{ item.email }}
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td class="is-narrow">
                                            {% include 'includes/icon.twig' with {
                                                '_type': 'edit',
                                                '_url': '?page=' ~ _app.page ~ '&action=edit&id=' ~ item.id
                                            } %}

                                            {% include 'includes/icon.twig' with {
                                                '_type': 'run',
                                                '_url': '?page=' ~ _app.page ~ '&action=run&id=' ~ item.id
                                            } %}

                                            {% include 'includes/icon.twig' with {
                                                '_type': 'delete',
                                                '_url': '?page=' ~ _app.page ~ '&action=delete&id=' ~ item.id
                                            } %}
                                        </td>
                                        <td>
                                            {{ item.checkbox|raw }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="42" class="has-text-grey-light">
                                        {{ _scheduled_tasks_items|length }} {{ items_total }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

            {% endif %}
        </div>
    </div>

    {% if _app.area == 'admin' %}
        {# Back #}
        {% include 'includes/cta.twig' with { '_back': { 'target': 'admin_configuration' } } %}
    {% endif %}

{% endblock %}